@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
// da sua
.c10 {
  gap:20px;
  img {
    margin-left: 120px;
  }
}

.width {
  max-width: 1168px;
  margin: auto;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:-webkit-any-link {
  color: white;
}

.header-container {
  background-color: #7e33e0;
}

.header {
  height: 44px;
  color: #f1f1f1;
  font-family: 'Josefin Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.email {
  margin-right:10px;
}

.login {
  margin-right: 16px;
}

.wishlist {
  margin-right: 26px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  background-color: white;
  font-family: Lato;
}

.menu p {
  font-family: 'Josefin Sans';
  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #0d0e43;
  margin-left: 110px;
}

.show-menu {
  font-family: 'Lato';
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 50px;
}

.show-menu li {
  display: inline;
}

.show-menu a {
  text-decoration: none;
  color: #1e1d4c;
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
}

.show-menu .color {
  color: #fb2e86;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 220px;
}

.search-input {
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-right: none;

  outline: none;
  font-size: 14px;
}

.button {
  background-color: #ff2d83;
  border: 1px solid #ff2d83;
  cursor: pointer;
}

.button img {
  width: 20px;
  height: 20px;
}

.show-menu a:hover {
  color: #fb2e86;
}

//banner
.banner {
  display: flex;
  background-color: #f2f0ff;
  max-width: 1920px;
  height: 750px;
  position: relative;
  .lamp {
    width: 387px;
    height: 387px;
    left: 15px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
  }
  .content {
    width: 644px;
    height: 248px;
    align-items: center;
    top: 203px;
    left: 310px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    .span-1 {
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 700;
      color: #fb2e86;
      margin-bottom: 100px;
    }

    .span-2 {
      width: 644px;
      height: 140px;
      color: #000;
      font-family: 'Josefin Sans';
      font-size: 53px;
      font-weight: 700;
      line-height: 132%;
      letter-spacing: 0.795px;
    }

    .span-3 {
      width: 700px;
      color: var(--sub-text-color, #8a8fb9);
      font-family: Lato;
      font-size: 16px;
      font-weight: 700;
      margin-top: 12px;
      line-height: 28px;
      margin-bottom: 27px;
    }
  }
  .sofa {
    width: 570px;
    height: 570px;
    position: absolute;
    top: 39px;
    right: 30px;
  }
  .btn-shop {
    width: 163px;
    height: 50px;
    background-color: #fb2e86;
    color: #fff;
    font-family: 'Josefin Sans';
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.34px;
    border-radius: 2px;
    margin-top: 27px;
    border: none;
  }
}

//API
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:8px;
  margin-top:53px;
}

.pagination .dot {
  width: 24px;
  height: 4px;
  background-color: #ffc1e3;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.pagination .dot.active {
  background-color: #ff4081;
}

.pagination .dot:hover {
  transform: scale(1.1);
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 29px;
  margin: 48px;
  flex-wrap: wrap;
}

.product-card {
  background-color: #f6f7fb;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  width: 270px;
  height: 361px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-image {
  width: 270px;
  height: 236px;
  border-radius: 8px;
  object-fit: cover;
}

.product-info {
  background-color: #ffffff;
  padding: 10px;
  height: calc(361px - 236px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: background-color 0.3s;
  position: relative;
}
.product-card:hover .product-info {
  background-color: #2f1ac4;
}
.product-card:hover .product-title,
.product-card:hover .product-code,
.product-card:hover .product-price {
  color: #ffffff;
}

.product-title {
  font-family: 'Lato';
  color: #fb2e86;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  margin: 0;
  text-align: center;
}

.product-code {
  color: #151875;
  margin: 10px 0;
  font-family: 'Josefin Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
}

.product-price {
  font-size: 1.5rem;
  color: #151875;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 16.8px;
}
.featured-title {
  font-family: 'Josefin Sans';
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin-top: 100px;
  color: #1a0b5b;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dots-container .dot {
  width: 14px;
  height: 4px;
  border-radius: 10px;
  margin: 0 5px;
}

//hover

.view-details {
  background-color: #08d15f;
  color: #fff;
  border: none;
  display: none;
  cursor: pointer;
}

.product-card:hover .view-details {
  display: block;
  width: 94px;
  height: 29px;
  border-radius: 2px;
  font-family: 'Josefin Sans';
  font-size: 12px;
}
.view-details {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.small-images {
  display: none;
  position: absolute;
  top: 11px;
  left: 11px;
}

.small-img1 {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  object-fit: cover;
}
.small-img2 {
  width: 17px;
  height: 17px;
  margin-bottom: 10px;
  object-fit: cover;
}
.small-img3 {
  width: 17px;
  height: 17px;
  margin-bottom: 10px;
  object-fit: cover;
}

.product-card:hover .small-images {
  display: block;
}
// shopex

.container-conten {
  text-align: center;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  color: #151875;

  margin-top: 60px;
}
.offers {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 60px;
}
.offer {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2em;
  width: 270px;
  height: 320px;
  text-align: center;
}
.offer img {
  width: 94px;
  height: 94px;
  margin-bottom: 1em;
}
.offer h2 {
  color: #1a1a1a;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.offer p {
  color: #6c757d;
  font-size: 0.9em;
}
// banner-2
.container-2 {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 560px;
  background-color: #f2f0ff;
  max-width: 1920px;
  margin-top:70px;
}

.show-banner-2 {
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #f0f0ff;
  max-width: 1920px;
}

.sofa-2 {
  width: 509px;
  height: 550px;
  margin-right: 50px;
}

.banner-2-info {
  display: flex;
  flex-direction: column;
}

.banner-2-title {
  font-size: 35px;
  color: #2c2c6c;
  margin-bottom: 20px;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  line-height: 1.5; 
  white-space: normal; 
  word-break: break-word;
}
.banner-2-content {
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.015em;
  text-align: left; 
  width: fit-content;
}

.banner-2-content li {
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 10px;
  text-align: left;
  position: relative; 
  padding-left: 20px;
}

.banner-2-content li::before {
  content: ''; 
  width: 8px; 
  height: 8px; 
  background-color: #ff4081; 
  border-radius: 50%; 
  position: absolute;
  left: 0; 
  top: 50%; 
  transform: translateY(-50%); 
}
.banner-2-content li:nth-child(1)::before {
  background-color: #f52b70; 
}

.banner-2-content li:nth-child(2)::before {
  background-color: #2b2bf5; 
}

.banner-2-content li:nth-child(3)::before {
  background-color: #2bf5cc; 
}
.banner-2-add {
  display: flex;
}
.banner-2-button {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 30px;
}
.banner-2-product-tilte {
  font-size: 14px;
  color: #2c2c6c;
  display: block;
  margin-top: 30px;
}
.banner-2-product-price {
  font-size: 14px;
  color: #2c2c6c;
  display: block;
  margin-top: 10px;
}
  