@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.c10 {
  gap: 10px;
}
.c10 img {
  margin-left: 108px;
}

.width {
  max-width: 1168px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:-webkit-any-link {
  color: white;
}

.header-container {
  background-color: #7e33e0;
}

.header {
  height: 44px;
  color: #f1f1f1;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login {
  margin-right: 16px;
}

.wishlist {
  margin-right: 26px;
}

.english {
  margin-right: 26px;
}

.usd {
  margin-right: 16px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  background-color: white;
  font-family: Lato;
}

.menu p {
  font-family: "Josefin Sans";
  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #0d0e43;
  margin-left: 110px;
}

.show-menu {
  font-family: "Lato";
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 50px;
}

.show-menu li {
  display: inline;
}

.show-menu a {
  text-decoration: none;
  color: #1e1d4c;
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
}

.show-menu .color {
  color: #fb2e86;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 180px;
}

.search-input {
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-right: none;
  outline: none;
  font-size: 14px;
}

.button {
  background-color: #ff2d83;
  border: 1px solid #ff2d83;
  cursor: pointer;
}

.button img {
  width: 20px;
  height: 20px;
}

.show-menu a:hover {
  color: #fb2e86;
}

.shop-grid {
  max-width: 1920px;
  height: 286px;
  padding: 50px;
  background-color: #f5f6ff;
  margin-top: 25px;
  position: relative;
}

.default p {
  font-family: "Josefin Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 70px;
  margin-left: 240px;
  color: #101750;
}

.flex-menu {
  display: flex;
  margin-top: 10px;
  margin-left: 235px;
}

.flex-menu p {
  margin: 0 5px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #000000;
}

.flex-menu p.color {
  color: #fb2e86;
  cursor: pointer;
}

#product-detail-general-info {
  display: flex;
  gap: 41px;
  padding: 20px;
  max-width: 1170px;
  height: 509px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 0px 25px 10px #F6F4FD;
  margin-top: 121px;
  box-sizing: border-box;
}

.product-detail-image {
  display: flex;
  gap: 21px;
}

.product-img-left {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.product-img-left img {
  width: 151px;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 3px;
  background-color: #C4C4C4;
}

.product-img-right img {
  width: 375px;
  height: 479px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  justify-content: center;
  background-color: #c4c4c4;
}

.product-info {
  max-width: 600px;
}

.product-detail-name {
  font-family: "Josefin Sans";
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  margin-top: 74px;
  color: #0d134e;
}

.product-rating-container {
  align-items: center;
  margin-top: 14px;
}

.product-rating {
  margin-right: 5px;
  color: #ffc416;
}

.num-of-review {
  color: #151875;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 400;
}

.price-info {
  gap: 10px;
  margin-top: 12px;
}

.product-price-sale {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  color: #151875;
  margin-right: 18px;
}

.product-price {
  color: #fb2e86;
  text-decoration: line-through;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

.des-details {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
  color: #a9acc6;
}

.add-to-cart-btn {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #FB2E86;
  width: 134px;
  height: 39px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  line-height: 16px;
  margin-top: 31px;
}

.product-categories {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
  color: #151875;
  margin-top: 10px;
}

.product-tags {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
  color: #151875;
  margin-top: 10px;
}

.share-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.share-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #0d134e;
  margin-right: 10px;
}

.share-icons {
  display: flex;
  gap: 10px;
}

.share-icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1920px;
  height: 600px;
  margin: 0 auto;
  background-color: #f9f8fe;
  margin-top: 131px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 107px;
  background-color: #f8f9fe;
}

.tabs {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.tabs li {
  display: inline;
}

.tabs a {
  text-decoration: none;
  color: #151875;
  font-weight: bold;
}

.tabs a:hover {
  text-decoration: underline;
}

.content h2 {
  font-family: "Josefin Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  color: #151875;
  margin-top: 61px;
}

.content p {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  color: #a9acc6;
  margin-top: 14px;
}

.details {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

h3 {
  font-family: Josefin Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 36px;
  color: #151875;
}

.details li {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  color: #a9acc6;
}

.details span {
  margin-right: 10px;
  color: #2020f2;
}

p {
  font-family: "Josefin Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-top: 20px;
}

#product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product p {
  font-size: 1em;
  color: #555;
}

.product .price {
  font-weight: bold;
  font-size: 1.1em;
  color: #333;
}

.product .stars {
  color: gold;
  margin: 5px 0;
}

#container-trending {
  display: flex;
  gap: 29px;
  max-width: 1168px;
  width: 100%;
  margin: 0 auto;
  margin-top: 46px;
}

.trending-product-card {
  position: relative;
  padding: 10px;
  width: 270px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.trending-product-image-container {
  width: 247px;
  height: 244px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f8;
  position: relative;
}

.trending-product-image {
  width: 171px;
  height: 171px;
}

.trending-product-title {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #151875;
}

.trending-product-price-discount {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.trending-product-price {
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #151875;
}

.trending-product-discount {
  font-family: "Josefin Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: rgba(21, 24, 117, 0.3019607843);
  text-decoration: line-through;
  margin-left: 10px;
}

.five-img {
  max-width: 904px;
  height: 93px;
  margin: 0 auto;
  margin-top: 96px;
}

.footer {
  margin-top: 100px;
  height: 532px;
  background: #e7e4f8;
}

.footer-bottom {
  height: 53px;
  background-color: #e7e4f8;
  display: flex;
  align-items: center;
}

.footer-address {
  color: #9da0ae;
  font-size: 16px;
  margin-right: 550px;
  margin-left: 377px;
  text-align: center;
}

.footer-social {
  display: inline-block;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-section {
  height: 479px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 95px;
  background-color: #eeeffb;
  padding-top: 95px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-title {
  color: #000;
  font-size: 38px;
  font-family: "Josefin Sans";
  font-weight: 700;
}

.footer-input {
  width: 377px;
  height: 44px;
  border: none;
  border-radius: 3px;
  background: var(--white, #fff);
  margin-top: 31px;
  position: relative;
}

.footer-email-input {
  width: 242px;
  height: 44px;
  border: none;
  border-radius: 3px;
  background: var(--white, #fff);
  padding: 14px 11px;
  color: #000;
  font-size: 16px;
  font-family: "Lato";
}

.footer-signup-btn {
  width: 135px;
  height: 42px;
  border-radius: 3px;
  background: var(--Accent, #fb2e86);
  border: none;
  color: var(--bg-shade, #eeeffb);
  font-size: 16px;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-info {
  color: var(--sub-text-color, #8a8fb9);
  font-size: 16px;
  margin-top: 25px;
  font-family: "Lato";
  line-height: 20px;
}

.footer-menu-title {
  color: #000;
  font-size: 22px;
  margin-bottom: 41px;
  font-family: "Josefin Sans";
  font-weight: 600;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-menu-item {
  color: var(--sub-text-color, #8a8fb9);
  font-size: 16px;
  margin-bottom: 21px;
  cursor: default;
  font-family: "Lato";
}