.leatest-products {
  max-width: 1920px;
  margin: 0 auto;
}

.name {
  font-family: "Josefin Sans";
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin-top: 70px;
  color: #1a0b5b;
}

.categories {
  display: flex;
  justify-content: center;
  margin-top: 19px;
  color: #151875; /*  sua o day  */
}

.categories span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-right: 25px;
  cursor: pointer;
  transition: color 0.3s;
}

.categories span:hover {
  text-decoration: underline;
  color: #fb2e86;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 37px;
  margin-top: 62px;
  max-width: 1168px;
}

.product {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  height: 306px;
  width: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-container {
  background-color: #f7f7f7;
  width: 360px;
  height: 269.96px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.product img {
  width: 245px;
  height: 245px;
  border-radius: 8px;
  display: block;
  margin: auto;
}

.product-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -8px;
}

.original-price {
  color: #fb2448;
  text-decoration: line-through;
  margin-right: 10px;
  margin-top: -15px;
  font-size: 12px;
}

.discount-price {
  color: #151875;
  margin-right: 10px;
  margin-top: -15px;
  font-size: 14px;
}

.product h2 {
  color: #151875;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 5px;
}

.active-category {
  color: #fb2e86;
  font-weight: bold;
}

.icon-container {
  position: absolute;
  top: 80px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container img {
  display: block;
  border-radius: 50%;
}

.sale-icon {
  display: block;
  width: 84px !important;
  height: 56px !important;
  position: absolute;
  top: -40px;
  left: 10px;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.heart-icon {
  display: block;
  width: 17px !important;
  height: 17px !important;
  position: absolute;
  top: 100px;
  left: 10px;
}

.cart-icon {
  display: block;
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  top: 60px;
  left: 5px;
  cursor: pointer;
}

.search-icon {
  display: block;
  width: 17px !important;
  height: 17px !important;
  position: absolute;
  top: 130px;
  left: 10px;
}

.product:hover .icon-container {
  opacity: 1;
}

/*Trending Products*/
.trending-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-trending {
  display: flex;
  gap: 29px;
  margin-top: 39px;
  max-width: 1168px;
  width: 100%;
}

.trending-product-card {
  position: relative;
  padding: 10px;
  width: 270px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.trending-product-image-container {
  width: 247px;
  height: 244px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f8;
  position: relative;
}

.trending-product-image {
  width: 171px;
  height: 171px;
}

.trending-product-title {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #151875;
}

.trending-product-price-discount {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.trending-product-price {
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #151875;
}

.trending-product-discount {
  font-family: "Josefin Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: rgba(21, 24, 117, 0.3019607843);
  text-decoration: line-through;
  margin-left: 10px;
}

.view-now-button {
  display: none;
  position: absolute;
  top: 198px;
  left: 80px;
  width: 94px;
  height: 29px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.trending-product-card:hover .view-now-button {
  display: block;
}

.view-now-button:hover {
  background-color: #4cae4c;
}

.thumbnail-images {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 10;
}

.thumbnail-image {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumbnail-image1 {
  cursor: pointer;
}

.thumbnail-image2 {
  width: 30px;
  height: 30px;
}

.thumbnail-image2,
.thumbnail-image3 {
  width: 17px;
  height: 17px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 5px;
}

.trending-product-card:hover {
  background-color: #007bff;
}

.trending-product-title,
.trending-product-price,
.trending-product-discount {
  transition: color 0.3s ease;
}

.trending-product-card:hover .trending-product-title,
.trending-product-card:hover .trending-product-price,
.trending-product-card:hover .trending-product-discount {
  color: white;
}

.offer-container {
  display: flex;
  justify-content: space-between;
  gap: 29px;
  padding-top: 39px;
  max-width: 1168px;
  margin: 0 auto;
  overflow: hidden;
}

.promo-section {
  position: relative;
  width: 450px;
  height: 270px;
  padding: 20px;
}

.promo-left {
  background-color: #ffeef3;
}

.promo-right {
  background-color: #edf0ff;
}

.promo-section h2 {
  font-family: "Josefin Sans";
  margin-top: 34px;
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
  margin-left: 25px;
  color: #151875;
}

.promo-btn {
  color: #fc237b;
  text-decoration: none;
  display: inline-block;
  margin-top: 11px;
  border-bottom: 2px solid #fc237b;
  padding-bottom: 2px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  margin-left: 25px;
}

.promo-image {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 213px;
  height: 207px;
}

.promo-image2 {
  position: absolute;
  bottom: 10px;
  top: 100px;
  right: 20px;
  width: 312px;
  height: 173px;
}

.products-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 25%;
}

.item-box {
  display: flex;
  align-items: center;
  gap: 9px;
}

.item-box img {
  width: 107px;
  height: 74px;
  background-color: #f5f6f8;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-name {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #151875;
}

.item-price {
  font-family: "Josefin Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  color: #151875;
  text-decoration: line-through;
}

.name {
  color: #151875;
  font-size: 36px;
}

.discount-title {
  color: #151875;
  font-size: 36px;
}

#categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 19px;
  color: #151875;
}

.category-item {
  color: #151875;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.category-item .category-item {
  cursor: pointer;
}

#random-product-container {
  margin-top: 30px;
  text-align: center;
}

#random-product-name {
  color: #151875;
  font-size: 24px;
  margin-bottom: 20px;
}

#random-product-image {
  width: 300px;
  height: auto;
}

.category-item {
  cursor: pointer;
  margin: 0 10px;
  color: #151875;
  font-size: 1.2em;
}

.category-item:hover {
  color: #fb2e86;
}

.category-item.active {
  font-weight: bold;
  color: #fb2e86;
}

.discount-section {
  text-align: center;
  margin-bottom: 20px;
}

.section-title {
  font-size: 32px;
  color: #151875;
}

#categories-container {
  display: flex;
  justify-content: center;
  margin-top: 19px;
  color: #151875;
}

.item-display-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1168px;
  width: 100%;
}

.info-container {
  flex: 1;
  padding-right: 20px;
  text-align: left;
}

.item-title {
  font-family: "Josefin Sans";
  font-size: 35px;
  font-weight: 700;
  line-height: 46.2px;
  letter-spacing: 0.015em;
  margin-top: 111px;
  color: #151875;
}

.item-subtitle {
  font-family: "Josefin Sans";
  font-size: 21px;
  font-weight: 400;
  line-height: 27.72px;
  letter-spacing: 0.015em;
  color: #fb2e86;
  margin-top: 16px;
}

.item-description {
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #b7bacb;
  margin-top: 20px;
}

.item-features {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.item-features li {
  width: 50%;
  box-sizing: border-box;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #b8b8dc;
  margin-top: 20px;
}

.purchase-button {
  background-color: #fb2e86;
  color: white;
  width: 200px;
  height: 57px;
  border: none;
  margin-top: 37px;
  font-family: "Josefin Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 699px;
  height: 597px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-show {
  width: 400px;
  height: 400px;
  background-color: #fff6fb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 150px;
  margin-left: 20px;
}

#random-product-image {
  width: 100% px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-grid {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  max-width: 1168px;
  margin: 0 auto;
  gap: 39px;
}

.product-item {
  width: 269px;
  height: 345px;
  position: relative;
  text-align: center;
  padding: 10px;
  margin: 15px;
}
.product-item p {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #151875;
  margin-top: 13px;
}

.product-img {
  width: 269px;
  height: 269px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: #f6f7fb;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  width: 178px;
  height: 178px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-left: 7px solid #9877e7;
  border-bottom: 4px solid #9877e7;
  border-right: none;
  border-top: none;
  display: none;
  box-sizing: border-box;
}

.product-img .view-shop {
  position: absolute;
  bottom: 21px;
  left: 50%;
  transform: translateX(-50%);
  width: 94px;
  height: 29px;
  background-color: #08d15f;
  color: white;
  display: none;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans";
  font-size: 12px;
  line-height: 12px;
  transition: opacity 0.3s ease;
}

.product-item:hover .view-shop {
  display: flex;
  opacity: 1;
  cursor: pointer;
}

.product-item:hover .product-img::after {
  display: block;
  cursor: pointer;
}

h4 {
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #151875;
  margin-top: 27px;
}

.get-leatest {
  max-width: 1920px;
  height: 462px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 125px;
}

.get-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.get-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.get-content {
  position: absolute;
  top: 174px;
  left: 500px;
}
.get-content p {
  font-family: "Josefin Sans";
  font-size: 35px;
  font-weight: 700;
  line-height: 54.25px;
  letter-spacing: 0.015em;
  color: #151875;
  text-align: center;
}

.get-btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

.get-btn p {
  background-color: #fb2e86;
  color: white;
  width: 173px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
}

.five-img {
  max-width: 904px;
  height: 93px;
  margin: 0 auto;
  margin-top: 96px;
}

.leatest-blog {
  margin: 0 auto;
  max-width: 1168px;
}
.leatest-blog h1 {
  color: #1a0b5b;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 80px;
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 42px;
}

.leatest-item {
  display: flex;
  gap: 56px;
}
.leatest-item .blog {
  height: 493px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  font-family: "Josefin Sans";
}
.leatest-item .blog .content {
  padding: 20px;
}
.leatest-item .blog img {
  width: 100%;
  height: 255px;
}
.leatest-item .blog h4 {
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #151875;
  margin-top: 31px;
  margin-bottom: 17px;
}
.leatest-item .blog p {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #72718f;
}
.leatest-item .blog a {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #151875;
  margin-top: 14px;
  text-decoration: underline;
}
.leatest-item .blog .span {
  margin-right: 29px;
}

.leatest-item .blog:hover h4 {
  color: #fb2e86;
}
.leatest-item .blog:hover a {
  color: #fb2e86;
}

.footer {
  margin-top: 100px;
  height: 532px;
  background: #e7e4f8;
}

.footer-bottom {
  height: 53px;
  background-color: #e7e4f8;
  display: flex;
  align-items: center;
}

.footer-address {
  color: #9da0ae;
  font-size: 16px;
  margin-right: 550px;
  margin-left: 377px;
  text-align: center;
}

.footer-social {
  display: inline-block;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-section {
  height: 479px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 95px;
  background-color: #eeeffb;
  padding-top: 95px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-title {
  color: #000;
  font-size: 38px;
  font-family: "Josefin Sans";
  font-weight: 700;
}

.footer-input {
  width: 377px;
  height: 44px;
  border: none;
  border-radius: 3px;
  background: var(--white, #fff);
  margin-top: 31px;
  position: relative;
}

.footer-email-input {
  width: 242px;
  height: 44px;
  border: none;
  border-radius: 3px;
  background: var(--white, #fff);
  padding: 14px 11px;
  color: #000;
  font-size: 16px;
  font-family: "Lato";
}

.footer-signup-btn {
  width: 135px;
  height: 42px;
  border-radius: 3px;
  background: var(--Accent, #fb2e86);
  border: none;
  color: var(--bg-shade, #eeeffb);
  font-size: 16px;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-info {
  color: var(--sub-text-color, #8a8fb9);
  font-size: 16px;
  margin-top: 25px;
  font-family: "Lato";
  line-height: 20px;
}

.footer-menu-title {
  color: #000;
  font-size: 22px;
  margin-bottom: 41px;
  font-family: "Josefin Sans";
  font-weight: 600;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-menu-item {
  color: var(--sub-text-color, #8a8fb9);
  font-size: 16px;
  margin-bottom: 21px;
  cursor: default;
  font-family: "Lato";
}